.clr {
	clear: both;
}


.wrapper_gallery {
	width: 1700px;
	height: 960px;
	margin: 0 auto;
	padding-top: 124px;
    padding-left: 289px;
    padding-right: 289px;
	background-image: url('../library/images/service/concerts.jpg');
	box-sizing: border-box;
}

.wrapper_gallery h2 {
	text-transform: uppercase;
	text-align: center;
}

.gallery_nav {
	margin-top: 30px;
	float: left;
}

.view_box {
	/*background-color: #121212;*/
	list-style: none;
	float: left;
}

.view_box:first-child {
	width: 544px;
	height: 330px;
	position: relative;
	padding: 50px 0 0 30px;
	box-sizing: border-box;
	margin-right: 15px;
}

.view_box:hover:first-child img {
	box-shadow: 3px 3px 5px 0 #777;
}

.view_box:hover:first-child .th_1 {
	margin-top: -3px;
}

.view_box2:first-child {
	box-sizing: border-box;
}

.view_box:first-child img {
	width: 300px;
	border: 5px solid #fff;
	position: absolute;
}

.view_box a {
	display: block;
	position: absolute;
	width: 544px;
	z-index: 2;
}

.view_box:first-child a {
	height: 330px;
	margin-left: -30px;
	margin-top: -50px;
}

.img_1 {
	transform: rotate(-20deg);
}

.img_2 {
	z-index: 1;
	margin-left: 86px;
	margin-top: 60px;
}

.img_3 {
	transform: rotate(20deg);
	margin-left: 172px;
}

.th_2 {
	width: 544px;
	height: 163px;
	position: relative;
}

.th_2:hover {
	box-shadow: 3px 3px 5px 0 #777;
	margin-top: -3px;
}

.img_video {
	width: 544px;
	display: block;
	float: left;
}

.view_box2:first-child a {
	height: 163px;
}

.view_box2 {
	float: left;
	margin-right: 15px;
}

.img_video_size {
	width: 172px;
	height: 114px;
	position: absolute;
	top: 27px;
	border: 4px solid black;
	box-sizing: border-box;
}

.img_video_1 {
	margin-left: -538px;
}

.img_video_2 {
	margin-left: -360px;
}

.img_video_3 {
	margin-left: -180px;
}

.play_btn {
	display: block;
	position: absolute;
	width: 50px;
	top: 60px;
}

.play_btn1 {
	left: 64px;
}

.play_btn2 {
	left: 245px;
}

.play_btn3 {
	left: 424px;
}

h3 {
	text-transform: uppercase;
	color: #9e005d;
}