* {
	margin: 0;
	padding: 0;
}

.clr {
	clear: both;
}

.view_box {
	width: 544px;
	height: 330px;
	/*background-color: #121212; */
	float: left;
	margin-right: 3%;
	list-style: none;
}

.view_box:hover:first-child img {
	box-shadow: 3px 3px 5px 0 #777;
}

.view_box:hover:first-child{
	margin-top: -3px;
}

.view_box:nth-child(2) {
	margin-right: 0;
	box-sizing: border-box;
	padding-top: 80px;
}

.view_box:first-child {
	position: relative;
	padding: 50px 0 0 30px;
	box-sizing: border-box;
}

.view_box:first-child img {
	width: 300px;
	border: 5px solid #fff;
	position: absolute;
}

.view_box a {
	display: block;
	position: absolute;
	width: 544px;
	height: 330px;
	z-index: 2;
}

.view_box:first-child a {
	margin-left: -30px;
	margin-top: -50px;
}

.img_1 {
	transform: rotate(-20deg);
}

.img_2 {
	z-index: 1;
	margin-left: 86px;
	margin-top: 60px;
}

.img_3 {
	transform: rotate(20deg);
	margin-left: 172px;
}

.img_video {
	width: 544px;
	position: absolute;
}

.view_box:hover:nth-child(2) img {
	box-shadow: 3px 3px 5px 0 #777;
}

.view_box:hover:nth-child(2) {
	margin-top: -3px;
}