*{
	margin: 0;
	padding: 0;
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
}


//styles for header:

.wrapper1{
	width: 1700px;
	margin: 0 auto;
	height: 100%;
	background-color: #9e005d;
}

header{
	height: 101px;
	width: 100%;
	background-color: #9e005d;
	display: block;
	top: 0;
	left: 0;
	.logo1{
		display: block;
		width: 89px;
		height: 85px;
		float: left;
		margin-top: (101px - 85px)/2;
	}

	nav{
		margin-left: 450px;
	}
	
	li a{
		display:block;
		float: left;
		line-height: 16px;
		color: #fff;
		margin: 42px 25px 0 0;
	}

	.lastChild{
		margin-right: 0;
	}


	.tel{
		display: block;
		color: #fff;
		
		img{
			display: block;
			margin: 32px 0 0 250px;
			float: left;
		}
		div{
			font-size: 24px;
			line-height: 32px;
			float: left;
			padding-left: 15px;
			margin-top: 32px;
			
		}
	}

}

//styles for video:
/*main{
	width: 100%;
}*/

.wrapper2{
	width: 1700px;
	margin: 0 auto;
}

.look_video{
	z-index: 1;
	clear: both;
	height: 956px;
	width: 100%;
	position: relative;
	.video{
		margin: 0 auto;
		display: block;
		width: 1700px;
		//height: 818px;
	}
	.play{
		position: absolute;
		top: 600px;
		margin-left: 826px;
	}
}

//styles for content
.about_us{
	position: relative;
	z-index: 2;
	margin: -150px auto 0 auto;
	height: 787px;
	display: block;
	width: 1700px;
	background-color: #fff;
	.img1{
		margin-left: 264px;
		margin-top: 102px;
		display: block;
		float: left;
	}
	.img2{
		display: block;
		float: left;
		margin: 31px 21px 0 52px;

	}
	.why_we{
		float: left;
		margin-top: 42px;
		width: 900px;
		h2{
			font-size: 30px;
			
		}
		.question{
			font-size: 48px;
			font-weight: 900;
			color: #9e005d;
		}
	}
	.reason1{
		clear: both;
		width: 400px;
		float: left;
		margin-left: 250px;
		margin-top: 45px;
		img{
			display: block;
			margin: 0 auto;
		}
		div{
			text-align: center;
			margin-top: 35px;
			color: #9e005d;
		}
	}
	.reason2{
		width: 400px;
		float: left;
		margin-top: 45px;
		img{
			display: block;
			margin: 0 auto;
			
		}
		div{
			text-align: center;
			margin-top: 35px;
			color: #9e005d;
		}
		
	}
	.reason3{
		width: 400px;
		float: left;
		margin-top: 45px;
		img{
			display: block;
			margin: 0 auto;
			
		}
		div{
			text-align: center;
			margin-top: 35px;
			color: #9e005d;
		}
	}
			
}

//styles for concerts
.concerts{
	margin: 0 auto;
	width: 1700px;
	height: 960px;
	background: url('../library/images/service/concerts.jpg');
	font-size: 30px;
	text-align: center;
	
}

//styles for organizers
.organizer{
	width: 1700px;
	height: 366px;
	margin: 0 auto;
	text-align: center;
	font-size: 30px;
	background-color: #662d91;
	
}

//styles for footer
footer{
	width: 1700px;
	height: 1450px;
	margin: 0 auto;
	background-color: #9e005d;
	text-align: center;
	font-size: 30px;
}

