*{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}

.clr { 
clear: both; 
}

//connection fonts

@font-face
{
	font-family: "CoreRhino25Thin";
	src: url('../fonts/CoreRhino25Thin.otf');
}

@font-face
{
	font-family: "CoreRhino55Medium";
	src: url('../fonts/CoreRhino55Medium.otf');
}

@font-face
{
	font-family: "CoreRhino85Black";
	src: url('../fonts/CoreRhino85Black.otf');
}

@font-face
{
	font-family: "Roboto-Regular";
	src: url('../fonts/Roboto-Regular.ttf');
}

@font-face
{
	font-family: "Roboto-Light";
	src: url('../fonts/Roboto-Light.ttf');
}

@font-face
{
	font-family: "Roboto-Bold";
	src: url('../fonts/Roboto-Bold.ttf');
}


//styles for bread crumbs
.bread_crumbs { 
margin-bottom: 30px; 
}

.bread_crumbs li { 
float: left; 
list-style-type: none; 
margin-right: 5px; 
} 

.bread_crumbs li a { 
text-decoration: none; 
border-bottom: 2px solid #9e005d; 
color: #9e005d; 
font-size: 18px; 
line-height: 15px; 
font-family: CoreRhino85Black; 
font-weight: 400;
}

.bread_crumbs li a:hover { 
border-bottom: 0; 
} 

.bread_crumbs li:last-child a { 
border-bottom: 0; 
cursor: default; 
color: #662d91; 
}

//styles for header:

.wrapper1{
	max-width: 1700px;
	min-width: 1290px;
	height: 100%;
	margin: 0 auto;
	background-color: #9e005d;
	//position: relative;
}

header{
	height: 101px;
	width: 100%;
	background-color: #fff;
	top: 0;
	left: 0;
	.logo1{
		display: block;
		width: 89px;
		height: 85px;
		float: left;
		margin-top: 8px;
		margin-left: 7%;
		background-image: url('../library/images/service/logo.png');
		background-size: cover;
	}

	nav{
		margin-left: 18%;
		ul{
			list-style: none;
		}
	}
	
	li a{
		display:block;
		float: left;
		line-height: 16px;
		color: #fff;
		margin: 44px 2% 0 0;
		font-family: CoreRhino85Black;
	}

	.lastChild{
		margin-right: 0;
	}


	.tel{
		color: #fff;
		float: right;
		margin-top: 33px;
		margin-right: 10px;
		//position: absolute;
		//right: 15px;
		//top: 27px;
		.number{
			float: right;
			font-size: 24px;
			line-height: 32px;
			font-family: CoreRhino55Medium;
		}
		.fone{
			width: 31px;
			height: 32px;
			float: right;
			margin-right: 15px;
			background-image: url('../library/images/service/tel.png');
			background-size: cover;
		}
	}

}

//styles for video:
main{
	width: 100%;
}

.wrapper2{
	max-width: 1700px;
	min-width: 1290px;
	margin: 0 auto;
	position: relative;
}

.look_video{
	z-index: 1;
	clear: both;
	height: 956px;
	width: 100%;
	position: relative;
	margin: 0 auto;
	.video{
		margin: 0 auto;
		display: block;
		width: 100%;
	}

	.logo2{
		position: absolute;
		top: 15px;
		margin-left: 35%;
		width: 500px;
		height: 500px;
		z-index: 3;
		background-image: url('../library/images/service/logo.png');
		background-size: cover;
	}

	.bomba{
		position: absolute;
		top: 550px;
		margin-left: 511.5px;
		width: 677px;
		height: 135px;
		//margin: 0 auto;
		color: #fff;
		background-color: rgba(0, 0, 0, 0.47);
		.fv1{
			font-family: CoreRhino25Thin;
			font-size: 43.65px;
			text-align: center;
		}
		.fv2{
			font-family: CoreRhino85Black;
			font-size: 58.45px;
			text-align: center;
		}
	}


	.play{
		position: absolute;
		top: 700px;
		margin-left: 826px;
		button{
			width: 48px;
			height: 48px;
			background: transparent;
			background-image: url('../library/images/service/play.png');
			background-size: cover;
			border: none;
			&:active{
				outline: none;
			}
			&:focus{
				outline: none;
			}
		}
	}
}

//styles for content
.about_us{
	position: relative;
	z-index: 2;
	margin: -150px auto 0 auto;
	height: 787px;
	display: block;
	max-width: 1700px;
	min-width: 1290px;
	background-color: #fff;
	.img1{
		margin-left: 15%;
		margin-top: 102px;
		display: block;
		float: left;
		max-width: 408px;
		//height: 366px;
		min-width: 250px;
	}
	.img2{
		display: block;
		float: left;
		margin: 31px 21px 0 52px;

	}
	.why_we{
		float: left;
		margin-top: 42px;
		width: 40%;
		//min-width: 400px;
		h2{
			font-size: 30px;
			font-family: Roboto-Regular;
			font-weight: 400;
			
		}
		.question{
			margin-top: 65px;
			margin-bottom: 30px;
			font-size: 48px;
			font-weight: 900;
			color: #9e005d;
			font-family: CoreRhino85Black;
			font-weight: 400;
		}
		p{
			font-family: Roboto-Light;
			font-size: 18px;
			font-weight: 300;
		}
	}
	.reason1{
		clear: both;
		width: 23%;//было 400px
		float: left;
		margin-left: 250px;
		margin-top: 45px;
		img{
			display: block;
			margin: 0 auto;
		}
		div{
			text-align: center;
			margin-top: 35px;
			color: #9e005d;
			font-family: CoreRhino85Black;
			font-size: 18px;
		}
	}
	.reason2{
		width: 23%;
		float: left;
		margin-top: 45px;
		img{
			display: block;
			margin: 0 auto;
			
		}
		div{
			text-align: center;
			margin-top: 35px;
			color: #9e005d;
			font-family: CoreRhino85Black;
			font-size: 18px;
		}
		
	}
	.reason3{
		width: 23%;
		float: left;
		margin-top: 45px;
		img{
			display: block;
			margin: 0 auto;
			
		}
		div{
			text-align: center;
			margin-top: 35px;
			color: #9e005d;
			font-family: CoreRhino85Black;
			font-size: 18px;
		}
	}
			
}

//styles for concerts
.concerts{
	clear: both;
	display: block;
	//position: relative;
	margin: 0 auto;
	max-width: 1700px;
	min-width: 1290px;
	height: 960px;
	background-image: url('../library/images/service/concerts.jpg');
	background-size: cover;
	.wrapper_cts{
		width: 314px;
		margin: 0 auto;
		height: 960px;
	}
	.truba2{
		display: block;
		float: left;
		width: 43px;
		height: 53px;
		margin-top: 85px;
		margin-left: 12px;
		//margin: 85px 0 0 692px;
	}
	h2{
		float: left;
		margin: 101px 0 0 24px;
		font-family: Roboto-Regular;
		font-size: 30px;
		font-weight: 400;
	}
	button{
		display: block;
		//position: absolute;
		float: left;
		margin-left: 52px;
		margin-top: 680px;
		//clear: both;
		font-family: Roboto-Regular;
		font-size: 16px;
		color: #fff;
		width: 210px;
		height: 37px;
		background-color: #9e005d;
		border: 0px;
		border-radius: 16px;
		//bottom: 106px;
		//left: 745px;
		&:active{
			outline: none;
		}
		&:focus{
			outline: none;
		}
	}
	
}

//styles for organizers
.organizer{
	display: block;
	max-width: 1700px;
	min-width: 1290px;
	height: 366px;
	margin: 0 auto;
	text-align: center;
	font-size: 30px;
	background-color: #662d91;
	.wrapper_org{
		width: 385px;
		height: 366px;
		margin: 0 auto;
		//margin-top: 41px;
	}
	.baraban{
		display: block;
		float: left;
		width: 53px;
		height: 52px;
		margin-left: 17px;
		margin-top: 41px;
	}
	h2{
		float: left;
		margin-top: 55px;
		margin-left: 20px;
		font-family: Roboto-Regular;
		font-size: 30px;
		font-weight: 400;
		color: #fff;
	}
	.downl{
		float: left;
		width: 382px;
		height: 179px;
		//margin-left: 659px;
		margin-top: 48px;
		text-align: center;
		color: #fff;
		.downl1, .downl2, .downl3{
			float: left;
			width: 127.3px;
			height: 113px;
			font-family: CoreRhino85Black;
			font-size: 16px;
			img{
				display: block;
				width: 83px;
				height: 83px;
				margin-left: 22.15px;
				margin-top: 10px;
			}
		}
		.downl4{
			width: 382px;
			display: block;
			float: left;
			font-family: CoreRhino85Black;
			font-size: 18px;
			margin-top: 55px;
			//margin-left: 81px;
			text-align: center;
			
		}
	}
	
}

//styles for footer
.wrapper_end{
	max-width: 1700px;
	min-width: 1290px;
	height: 100%;
	background-color: #9e005d;
	margin: 0 auto;
	position: relative;
}

footer{
	width: 100%;
	height: 1450px;
	margin: 0 auto;
	background-color: #fff;
	text-align: center;
	font-size: 30px;
	h2{
		display: none;
	}
	.call_us{
		max-width: 1700px;
		min-width: 1290px;
		height: 657px;
		background-image: url('../library/images/service/tolpa.png');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 0px 221px;
		color: #fff;
		.p1{
			float: left;
			width: 100%;
			margin-top: 60px;
			font-family: Roboto-Regular;
			font-size: 30px;
		}
		.p2{
			float: left;
			width: 100%;
			margin-top: 30px;
			font-family: Roboto-Regular;
			font-size: 60px;
		}
		.p3{
			float: left;
			width: 100%;
			margin-top: 60px;
			font-family: Roboto-Regular;
			font-size: 30px;
		}
		.p4{
			float: left;
			width: 100%;
			margin-top: 30px;
			font-family: Roboto-Regular;
			font-size: 48px;
		}
		.p5{
			float: left;
			width: 100%;
			margin-top: 60px;
			margin-bottom: 55px;
			font-family: Roboto-Regular;
			font-size: 30px;
		}
		.social{
			clear: both;
			width: 700px;
			height: 113px;
			display: flex;
			justify-content: space-between;
			margin: 0 auto;
			color: #fff;
			div{
				font-family: Roboto-Regular;
				font-size: 16px;
			}
			.vk{
				display: block;
				width: 72px;
				height: 72px;
				background-image: url('../library/images/service/vk.png');
				background-size: cover;
				margin: 0 auto;
			}
			.inst{
				display: block;
				width: 72px;
				height: 72px;
				background-image: url('../library/images/service/instagram.png');
				background-size: cover;
			}
			.fb{
				display: block;
				width: 72px;
				height: 72px;
				background-image: url('../library/images/service/facebook.png');
				background-size: cover;
			}
			.yt{
				display: block;
				width: 72px;
				height: 72px;
				background-image: url('../library/images/service/youtube.png');
				background-size: cover;
			}
			.tw{
				display: block;
				width: 72px;
				height: 72px;
				background-image: url('../library/images/service/twitter.png');
				background-size: cover;
			}
			
		}
		
	}
	.good_back{
		max-width: 1700px;
		min-width: 1290px;
		height: 624px;
		background-image: url('../library/images/service/good_back.jpg');
		background-size: cover;
		background-position: 0px -193px;
	}
	.end{
		height: 107px;
		width: 362px;
		margin: 0 auto;
		.sax{
			width: 74px;
			height: 128px;
			margin-top: -40px;
			//margin-left: 646px;
			background-image: url('../library/images/service/sax.png');
			background-size: cover;
			float: left;
		}
		.gb{
			width: 245px;
			height: 101px;
			//margin-top: 34px;
			margin-left: 42px;
			background-image: url('../library/images/service/gobrass.png');
			background-size: cover;
			float: left;
		}
	}
	.GB2017{
		font-family: Roboto-Light;
		font-size: 13px;
		font-weight: 300;
		color: #fff;
		margin-top: 20px;
	}
}

